<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <link rel="icon" href="#">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
    <title>404</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/graphs">Graphs</a></li>
          {%if username == "admin"%}
          <li><a href="/adminpage">Adminpage</a></li>
          {%endif%}
        </ul>
      </nav>
      <div>
        {%if username is none%}
        <a href="/login"><button>Login</button></a>
        <a href="/signup"><button id="signup">Sign Up</button></a>
        {%else%}
        <a id="loginfo">logged in as {{username}}</a>
        <a href="/logout"><button>Logout</button></a>
        {%endif%}
      </div>
    </header>
    <main>
      <h1>404 page not found</h1>
      <h3>Looks like you made a typo in the URL</h3>
      <p>Recheck, or go back to the Homepage</p>
      <a href="/"><button class="button">Homepage</button></a>
    </main>
  </body>
</html>
